:root{
    --main-color: rgb(231, 246, 215);
    --secondary-color: rgb(32, 32, 32);
}

body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    background-color: rgb(214, 249, 133);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.project{
    height: 30rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px solid var(--main-color);
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: var(--secondary-color);
    background-color: var(--main-color);
    box-shadow: 2px 2px 2px rgb(170, 170, 170);
    font-size: 1.5rem;
}

.project-desc{
    color: var(--secondary-color);
}

.tools-and-code{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.code-and-preview{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.project-img{
    width: 25rem;
    object-fit: contain;
    border-radius: 2rem;
    transition: transform 0.3s ease;
}

.project-img:hover{
    transform: scale(0.9);
    cursor: pointer;
}

.icon{
    width: 3rem;
    object-fit: contain;
}

a{
    text-decoration: none;
    color: white;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: var(--secondary-color);
    padding: 1rem;
}

.title{
    text-align: center;
    font-weight: bold;
    color: var(--secondary-color);
}



.title2{
    text-align: center;
    font-weight: bold;
    color: white;
}

.navbar{
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
}

.header{
    display: flex;
}

.text-about-me{
    font-size: 1.5rem;
}


.tools-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
    background-color: rgb(235, 248, 224);
    box-shadow: 2px 2px 2px rgb(206, 206, 206);
    padding: 1rem;
    border-radius: 2rem;
    width: 30%;
    margin: auto;
}


.footer{
    background-color: var(--secondary-color);
    padding: 1rem;
    margin-top: 3rem;
    color: white;
    text-align: center;
}


@media (min-width: 320px) and (max-width: 480px){
    .header{
        flex-direction: column;
        text-align: center;
    }

    .text-about-me, .navbar{
        font-size: 0.9rem;
    }

    .project-img{
        width: 15rem;
    }

    .project{
        width: 16rem;
    }

    .footer{
        font-size: 0.4rem;
    }

    .tools-list{
        width: 85%;
    }
    .icon{
        width: 2.2rem;
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .header{
        flex-direction: column;
        text-align: center;
    }

    .text-about-me, .navbar{
        font-size: 1.1rem;
    }

    .project-img{
        width: 20rem;
    }

    .project{
        width: 21rem;
    }

    .footer{
        font-size: 0.6rem;
    }

    .tools-list{
        width: 75%;
    }
    .icon{
        width: 2.7rem;
    }
}